@font-face {
  font-family: "Caprasimo";
  /*Can be any text*/
  src: local("Caprasimo-Regular"),
    url("./fonts/Caprasimo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SigmarOne";
  /*Can be any text*/
  src: local("SigmarOne-Regular"),
    url("./fonts/SigmarOne-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  height: 6%;
  color: white;
  background-color: #1a699c;
}

.page {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}
.row.spacing {
  &>*:not(:last-child) {
    margin-right: 10px;
  }
}

.column {
  display: flex;
  flex-direction: column;
}
.column.spacing {
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.center-div {
  align-items: center;
  justify-content: center;
}

.list {
  width: 100%;
  padding: 10px;
  overflow: auto;
  background-color: #f1f1f1;
}

.list-item {
  margin-bottom: 10px;
}

.box {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  padding: 20px;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.button.outlined {
  display: flex;
  text-transform: none;
  font-weight: 700px;
  font-size: 12px;
  border-radius: 32px;
  /* border-color: #1096ce; */
  /* color: #1096ce; */
  background-color: rgba(255, 255, 255, 0.05);
}

.button.contained {
  display: flex;
  text-transform: none;
  font-weight: 700px;
  font-size: 12px;
  border-radius: 32px;
  /* background-color: #65AFE9; */
  color: white;
}